html,body{
	 background: #333;
	 height: 100%;
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 color: #fff;
}
 button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: transparent;
  padding: 0.2em 0.1em 0.2em 0.1em;
  color: #41403E;
  font-size: 1.5em;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 2vw 3vw 2.5vw -1vw rgba(0, 0, 0, 0.6);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: dashed 1vw #2773eb;
    background-color: #2773eb;
    color: #fff;
    text-shadow: -2px -2px rgba(197, 223, 248,0.8);
    position: fixed;
	bottom: 1em;
	left: 1em;
	z-index: 50;

}
.menuBut{
	
}
.title{
	font-size: 1.5em;
	text-align: center;
	padding:1em 0 1em 0;
	box-shadow: 1vw 3vw 2.5vw -1.5vw rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	background-color: #333;
	z-index: 50;
}
.artical{
	width: 86%;
	margin: auto;
	background-color:rgba(255,255,255,0.1);
	position: relative;
	top: 5em;
}
table{
	width: 100%;
	border-collapse: collapse; 
border: none; 
text-align: center;
}
table tr{
	border-bottom: 1px solid #ccc;
}
table tr td{
	width: 10%;
   padding: 1em 0 1em 0;
	
}
table div{
	width: 80%;
	margin: auto;
	text-align: left;
}
table tr td:nth-child(1),table tr td:nth-child(2){
	border-right: 1px solid #888;
}
table tr th:nth-child(1),table tr th:nth-child(2){
	border-right: 1px solid #888;
}
th{
	font-size: 1.5em;
}
table td img{
	max-width: 80%;
}
/*.menuLayer{
	position: absolute;
	 height: 100%;
	 width: 100%;
	 z-index: 100;
	 background-color: #000;
	 opacity: 0.8;
	 top: 0;
	 left: 0;
}*/

