.smallBox {
    display: inline-block;
    width: 200px;
    padding: 40px 0;
    text-align: center;
    border: 1px solid #fff;
    margin: 5px;
}
.small {
    width: 100px;
}
.box {
    padding: 10px;
    height: auto;
}
.type1 .smallBox{
    background-color: #006ac1;
}
.type2 .smallBox{
    background-color: #78ba00;
}
.type3 .smallBox{
    background-color: #7200ac;
}
.type4 .smallBox{
    background-color: #D39d09;
}
.type5 .smallBox{
    background-color: #c1004f;
}
.type6 .smallBox{
    background-color: #78ba00;
}
.type7 .smallBox{
    background-color: #006ac1;
}
.type8 .smallBox{
    background-color: #c1004f;
}
